$keyscale: 40;

body{
  min-width: 18px * $keyscale;
}

col{
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  height: 1px * $keyscale;
  margin: 1px -1px;
}

.u1{
  width: $keyscale * 1px;
}

.u125{
  width: $keyscale * 1.25px;
}

.u15{
  width: $keyscale * 1.5px;
}

.u175{
  width: $keyscale * 1.75px;
}

.u2{
  width: $keyscale * 2px;
}

.u225{
  width: $keyscale * 2.25px;
}

.u275{
  width: $keyscale * 2.75px;
}

.u65{
  width: $keyscale * 6.5px;
}
